<!-- main app container -->
	<table align="center" width="400" >
	<tr>
		<td><img width="100" alt="SkillScore Logo" src="SSLogo.jpg"></td>
		<td align="center">
		<h1>SKILLSCORE </h1>
		Reputation for your lifetime
		</td>
	</tr>
	</table>

<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://cdigate.wixsite.com/skillscore" target="_top">SKILLSCORE INC.</a>
    </p>
</div>